<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <h3 class="text-center">掲載禁止カフェ一覧</h3>
          </tr>
<br>
          <tr>
            <i class="fa fa-history"></i><%= link_to "戻る", admin_shops_path %>
          </tr>
          <tr>
            <td>ID</td>
            <td>カフェ名</td>
          </tr>
        </thead>
        <% @shops.each do |shop| %>
          <% if shop.is_active == "掲載禁止" %>
          <tbody>
            <tr>
              <td><%= shop.id %></td>
              <td>
                <%= link_to admin_shop_path(shop) do %>
                  <%= shop.name %>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
