<h3>user商品一覧ページ</h3>

<%= render "new.shop", shop: @shop %>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>店名</td>
    </tr>
  </thead>
  <% @shops.each do |shop| %>
  <tbody>
    <tr>
      <td><%= shop.id %></td>
      <td>
        <%= link_to admin_shop_path(shop) do %>
          <%= shop.name %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>