<div class="container">
  <div class="row">
    <table border="1" style="border-collapse: collapse">
      <thead>
        <tr>
          <td>ID</td>
          <td>カフェ名</td>
        </tr>
      </thead>
      <% @shops.each do |shop| %>
      <tbody>
        <tr>
          <td><%= shop.id %></td>
          <td>
            <%= link_to admin_shop_path(shop) do %>
              <%= shop.name %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>

