<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<table border="1" style="border-collapse: collapse">
				<thead>
					<h3 class="text-center">ブックマーク一覧</h3>
					<tr>
					  <td>カフェ名</td>
					  <td>カフェ写真</td>
					</tr>
				</thead>
				<br><br>
				<% @bookmarks.each do |bookmark| %>
				<tbody>
					<tr>
				    <th>
				      <%= link_to user_shop_path(bookmark.shop) do %>
                <%= bookmark.shop.name %>
              <% end %>
            </th>
				    <td>
				    	<%= attachment_image_tag bookmark.shop, :shop_image, :fill, 60, 60 %>
            </td>
				  </tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>
