<div class="container text-center">
  <div class="raw">
    <p>ブックマーク一覧</p>
    <% @bookmarks.each do |bookmark| %>
      <p>
        <%= link_to user_shop_path(bookmark.shop) do %>
          <%= bookmark.shop.name %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>