<%= form_with model: genre, url: admin_genres_path, local:true do |f| %>
<table>
  <tr>
    <td>ジャンル名</td>
    <td><%= f.text_field :name %></td><td><%= f.submit "登録" %></td>
  </tr>
</table>
<% end %>