<div class="container">
  <div class="row">
    <div class="col-md-9 col-xs-offset-1 text-center">
      <%= render "user/searches/search", genres: @genres %>
<br>
  	  <table border="1" style="border-collapse: collapse">
      	<thead>
    	    <h3 class="text-center">カフェ一覧</h3>
      		<tr>
      		  <td>カフェ名</td>
      		  <td>カフェ写真</td>
      		</tr>
      	</thead>
      	<br><br>
      	<% @shops.each do |shop| %>
        	<% if shop.is_active == true %>
        	<tbody>
        		<tr>
        	    <th>
        	      <%= link_to user_shop_path(shop) do %>
                  <%= shop.name %>
                <% end %>
              </th>
        	    <td>
        	    	<%= attachment_image_tag shop, :shop_image, :fill, 60, 60 %>
              </td>
        	  </tr>
        	</tbody>
        	<% end %>
      	<% end %>
      </table>
    </div>
  </div>
</div>

