<h3>お知らせ詳細</h3>

<table class="table">
  <thead>
    <tr>
      <td>お知らせID</td>
      <td>お知らせタイトル</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @news, :news_image, :fill, 60, 60 %></td>
      <td><%= @news.title %></td>
      <td><%= @news.title %></td>
    </tr>
  </tbody>
</table>