<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<table border="1" style="border-collapse: collapse">
				<thead>
					<th class="text-center">本当に退会しますか？</th>
				</thead>
				<br><br>
				<tbody>
					<tr>
						<td>
            退会すると会員情報登録や<br>
            これまでのブックマークが閲覧できなくなります。<br>
            <br>
            退会する場合は,「退会する」をクリックください。
						</td>
				  </tr>
				  <tr>
				  	<td>
				  		<%= link_to "退会しない",user_user_path(current_user), :class => "btn btn-primary" %>
				  		<%= link_to "退会する",out_user_users_path(current_user), method: :patch, :class => "btn btn-primary" %>
						</td>
				  </tr>
				 </tbody>
			</table>
		</div>
	</div>
</div>