<div class="container text-center">
  <div class="raw">
    <h3>人気ランキング</h3>
    <% @shops.each do |shop| %>
      <p>
        <%= shop.reviews.average(:rate).to_f.round(1) %>
        <%= link_to user_shop_path(shop) do %>
          <%= shop.name %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>