<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table border="1">
        <thead>
          <h3 class="text-center">評価詳細ページ</h3>
        </thead>
        <tbody>
          <tr>
            <i class="fa fa-history"></i><%= link_to "カフェ詳細画面へ戻る", shop_path(@review.shop) %>
          </tr>
          <tr>
            <th>評価タイトル</th>
            <td><%= @review.title %></td>
          </tr>
          <tr>
            <th>評価本文</th>
            <td><%= simple_format(@review.body) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
