<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>ユーザー名</td>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>